.sidebarWorkListRowInfo {
	float: left;
	width: inherit;
    padding: 7px 15px 0 15px;
    display: grid;
    height: 33px;
    float: inherit;
    color:#c7c7c7;
    letter-spacing: .1rem;
}
.sidebarWorkListRowActions {
    position: absolute;
    /* top: 0; */
    margin-top: -75px;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
    background-color: rgba(0,0,0,.7);
}
.sidebarWorkListRowStatus {
	font-size: 11px;
    text-transform: capitalize;
        color: #a7a7a7;
    letter-spacing: 0.05rem;
}
.sidebarWorkListRowTitle {
	float: left;
	    font-size: 13px;
	    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 600;
    color: #565656;
}
.specificWorkSize {
    margin-top: -2px;
    font-size: 18px;
}