.wrap {
  background-color: #1abc9c;
  height: 100vh;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.wrap.--rtn {
  background-color: #000;
  color: #fff;
}
.--rtn.pointer {
  border-bottom: 1rem solid #fff !important;
}

.--rtn input {
  background-color: #ffffff !important;
  color: #000 !important;
}

.wrap.--new {
  color: #000;
  background-color: #e6e6e6;
}
.wrap.--rst {
  background-color: #e74c3c;
}

.flex-form {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding-top: 4rem;

   display: flex;
  align-items: center;
  justify-content: center;

}

.select__list {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
  font-family: Raleway;
  width: 26rem;
}

.select__label {
  cursor: pointer;
  font-weight: 500;
  opacity: 0.6;
  padding: 0 2rem;
  text-transform: capitalize;
}
.select__label--active {
  opacity: 1;
}

.ui-elem {
  background-color: #fff !important;
}
.ui-button,
.ui-elem {
  border-radius: .7rem;
  height: 4rem;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.ui-elem-pass.--rst {
  height: 0;
  margin: 0;
}

.ui-elem-rpass.--rtn, .ui-elem-rpass.--rst {
  height: 0;
  margin: 0;
}

input {
  background-color: #fff;
  margin: .5rem 0;
  text-align: center;
}


.titleApp {
  font-family: 'Telefon Black';
  font-size: 2rem;
  padding: 20px 0;
  text-align: center;
}

.pointer {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #fff;
  height: 0;
  position: relative;
  top: 0rem;
  -webkit-transition: all 30s ease;
  transition: all 30s ease;
  width: 0;
}
.pointer.--new {
  right: 9rem;
}
.pointer.--rst {
  left: 9.5rem;
}

.ui-button {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  margin: .5rem 0;
  text-transform: capitalize;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.ui-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

